<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
       <Properties>
		<Property name="basePath">./logs</Property>
	</Properties>
 
  <Appenders>
      <RollingFile name="File" fileName="${basePath}/vwoValidations.log" filePattern="${basePath}/vwoValidations-%d{yyyy-MM-dd}.log">
     	<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
     		
       <HTMLLayout charset="UTF-8" title="sendMail Log" locationInfo="true" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
        
          </RollingFile>
    <Console name="Console" target="SYSTEM_OUT" ignoreExceptions="true">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
   
     <Root level="trace">
     <Appender-Ref ref="Console"/>
     <Appender-Ref ref="File"/>
    </Root>
  </Loggers>
</Configuration>